*{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #562700;
}
body{
	background-color: #F6F2E9
}
ul{margin:0;}
h1{
	font-size: 20px;
}
h2{
	font-size: 14px;
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-weight: normal;
	line-height: 1.2
}
h3{
	font-size: 16px;
	font-weight: normal;
	line-height: 1.2;
	margin: 10px 0 3px;
}

h4{
	font-size: 14px;
	margin: 0;
}
nav  ul{
	text-decoration: none;
	list-style-type: none;	
}
.horizontal li{
	display:inline-block;
}
.bgcompcolor{
	background-color: #E7FF73;
}

.page{
	width: 960px;
	margin: 0 auto;
}

.row-fluid [class*="span"]{min-height: 11px;}
.logo{
	background: url('../img/twin-hoops-logo.png') no-repeat 0 0;
	width: 300px;
	height: 45px;
	text-align: center;
	margin: 30px 0 15px 35px;
}
.pagefooter h1{
	background: url('../img/hoopologie-hoop-logo-brown.png') no-repeat 0 0;
	width: 250px;
	height: 87px;
	text-align: center;
}


header .nav{margin:0;}
header .top .nav a{
	color: #b843bd;	
	background-color: transparent;
}
header .top .nav a:hover{
	color: #77167B;	
	background-color: transparent;
	text-decoration: underline;
}
a[class*="color"]:link,
a[class*="color"]:visited{
	background-color: transparent;
}

.nav-pills a[class*="color"]:focus,
.nav-pills a[class*="color"]:hover,
.nav-pills a[class*="color"].active{
	color: #fff;
}
.primary section{
	padding: 0 35px 10px;
}
.primary.tabcontent{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.primary section .sub > a{
	color: #562700;
}
.primary section .sub ul a,
.primary section .sub ul li{
	font-size: 12px;
	line-height: 16px;
}
.primary section .column{
	padding-right: 40px;
}
.primary section .sub ul{
	padding-right: 20px;
}
.primary ul{
	margin: 0;
}
.primary .nav-pills > li > a{
	padding-left: 39px;
	padding-right: 39px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.primary section .sub > a{
	display: block;
	color:#fff;
}
.primary section.color2-2{
	border: 1px solid #EA5283;
}
.primary section.color2-2 .sub h3{
	background-color: #EA5283;
	padding: 5px;
}

/*Module*/
.module {
	margin: 10px 0;
}
.module header{
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
}


/*COLORS*/
.color1-1,
a.color1-1.active,
a.color1-1:focus,
a.color1-1:hover{
	color: #B943BD;
	background-color: #B943BD;
}

.color1-2{
	color: #DB8FDE;
	background-color: #DB8FDE;
}

.color1-3{
	color: #DA73DE;
	background-color: #DA73DE;
}

.color2-1,
a.color2-1.active,
a.color2-1:focus,
a.color2-1:hover{
	color: #EA5283;
	background-color: #EA5283;
}

.color2-2{
	color: #F49DB9;
	background-color: #F49DB9;
}

.color2-3{
	color: #AF5A75;
	background-color: #AF5A75;
}
.color3-1,
a.color3-1.active,
a.color3-1:focus,
a.color3-1:hover{
	color: #83B341;
	background-color: #83B341;
}

.color3-2{
	color: #83B05A;
	background-color: #83B05A;
}

.color3-3{
	color: #56991B;
	background-color: #56991B;
}
.color4-1,
a.color4-1.active,
a.color4-1:focus,
a.color4-1:hover{
	color: #AD9FCD;
	background-color: #AD9FCD;
}

.color4-2{
	color: #ACBB60;
	background-color: #ACBB60;
}

.color4-3{
	color: #8CA21C;
	background-color: #8CA21C;
}
.color5-1,
a.color5-1.active,
a.color5-1:focus,
a.color5-1:hover{
	color: #FF8659;
	background-color: #FF8659;
}

.color5-2{
	color: #BF7B62;
	background-color: #BF7B62;
}

.color5-3{
	color: #A6421D;
	background-color: #A6421D;
}
.color6-1,
a.color6-1.active,
a.color6-1:focus,
a.color6-1:hover{
	color: #F15851;
	background-color: #F15851;
}

.color6-2{
	color: #B6F57E;
	background-color: #B6F57E;
}

.color6-3{
	color: #C7F59E;
	background-color: #C7F59E;
}
.color7-1,
a.color7-1.active,
a.color7-1:focus,
a.color7-1:hover{
	color: #45C58B;
	background-color: #45C58B;
}

.color7-2{
	color: #74E2B0;
	background-color: #74E2B0;
}

.color7-3{
	color: #91E2BD;
	background-color: #91E2BD;
}

.carousel .item1{

	background: url("../img/carousel1.jpg") no-repeat 0 0;
	height: 400px;
	width: 940px;
	margin: 0 auto;
}

.sociallogos{
	border-top: 1px dashed #BA9D82;
	border-bottom: 1px dashed #BA9D82;
}
.sociallogos li{
	padding-right: 50px;
	float: left;
	text-transform: uppercase;
}
.sociallogos li p{
	padding-top:3px;
}
.sociallogos a{
	background: url("../img/social-media-logos.png") no-repeat 0 0;
	width: 103px;
	height: 21px;
	display: block;
}
.sociallogos a[title="pinterest"]{
	background-position: 0 -26px;
	height: 26px;
}
.sociallogos a[title="instagram"]{
	background-position: 0 -86px;
	width: 90px;
	height: 24px;
}
.sociallogos a[title="youtube"]{
	background-position: 0 -53px;
	width: 72px;
	height: 29px;
}
.sociallogos a[title="twitter"]{
	background-position: 0 -113px;
	height: 20px;
}
.legal ul{
	width: auto;
	padding: 36px;
}
.legal ul li{
	padding-right: 50px;
}
.legal a{
	color: #ba9d82;
}
/*utilities*/
.flush{
	margin:0;
	padding:0;
}
.shim{
	padding: 5px;	
}
.shim-t{
	padding-top: 5px;	
}
.shim-b{
	padding-bottom: 5px;	
}
.shim-tb{
	padding: 5px 0;
}
.shim-sides{
	padding-left: 5px;
	padding-right: 5px;
}
.mshimlt-tb{
	margin: 3px 0;
}
.frame{
	padding: 15px;	
}
.frame-t{
	padding-top: 15px;
}
.frame-tb{
	padding: 15px 0;
}
.frame-sides{
	padding-left: 15px;
	padding-right: 15px;
}
.border-tb{
	border-bottom: 1px dotted #ccc;
	border-top: 1px dotted #ccc;
}
.fixed{
	position: fixed;
}
.round{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* future proofing */
	-khtml-border-radius: 3px; 
}

.round-b{
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.round-t{
	-webkit-border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(184, 67, 189, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(184, 67, 189, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(184, 67, 189, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(184, 67, 189, 0.6);
}

.btn-hoop {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ff00ff;
  background-image: -moz-linear-gradient(top, #ff73ff, #ff00ff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff73ff), to(#ff00ff));
  background-image: -webkit-linear-gradient(top, #ff73ff, #ff00ff);
  background-image: -o-linear-gradient(top, #ff73ff, #ff00ff);
  background-image: linear-gradient(to bottom, #ff73ff, #ff00ff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ff', endColorstr='#ff73ff', GradientType=0);
  border-color: #ff00ff #ff00ff #ff00ff;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ff00ff;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #ff00ff;
  *background-color: #ff00ff;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #ff00ff \9;
}