*{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #562700;
}
body{
	background-color: #F6F2E9
}
/*
ul{margin:0;}
h1{
	font-size: 20px;
}
h2{
	font-size: 14px;
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-weight: normal;
	line-height: 1.2
}
h3{
	font-size: 16px;
	font-weight: normal;
	line-height: 1.2;
	margin: 10px 0 3px;
}

h4{
	font-size: 14px;
	margin: 0;
}
*/

ul, ol {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;	
}
.strong, strong{
	font-weight: bold;
}
.relative{
	position: relative;
}
.horizontal li{
	display:inline-block;
}
.bgcompcolor{
	background-color: #E7FF73;
}

.page{
	width: 960px;
	margin: 0 auto;
}

.row-fluid [class*="span"]{min-height: 1px;}
.logo{
	background: url('../img/twin-hoops-logo.png') no-repeat 0 0;
	width: 300px;
	height: 45px;
}
.relative .pinstripe-gradient{
	position: absolute;
	top: 36px;
	left: 300px;
}
.pinstripe-gradient li{
	background: url("../img/pinstripe-gradient.png") no-repeat 0 0;
	display: inline-block;
	height: 1px;
}
.pinstripe-gradient li:nth-child(1),
.pinstripe-gradient li:nth-child(3){
	width: 22px;
}
.pinstripe-gradient li:nth-child(3){
	background-position:  0 -2px;
}
.pinstripe-gradient li:nth-child(2){
	background: url("../img/pinstripe-gradient.png") repeat-x 0 -1px;
	width: 615px;
}
.primary-flyout{
	width: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.flyout-content{
	background-color: #FEFBF6;
	border-top: 3px solid #CA69CE;
	-moz-box-shadow:    3px 3px 5px 0px #c4a7c6;
  	-webkit-box-shadow: 3px 3px 5px 0px #c4a7c6;
  	box-shadow:         3px 3px 5px 0px #c4a7c6;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;

}
.flyout-content nav a{
	display: block;
	width: 150px;
	color: #562700;
}
.flyout-content nav a i{
	float: right;
	display: none;
}
.flyout-content nav a:hover{
	color: #08C;
	text-decoration: none;
	font-weight: bold;
}
.flyout-content nav a:hover i{
	display: inline-block;
}

.pagefooter h1{
	background: url('../img/hoopologie-hoop-logo-brown.png') no-repeat 0 0;
	width: 250px;
	height: 87px;
	text-align: center;
}


header .nav{margin:0;}
header .top .nav a{
	color: #b843bd;	
	background-color: transparent;
}
header .top .nav a:hover{
	color: #77167B;	
	background-color: transparent;
	text-decoration: underline;
}


/*Module*/
.module {
	margin: 10px 0;
}
.module header{
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
}


/*COLORS*/
.color1-1,
a.color1-1.active,
a.color1-1:focus,
a.color1-1:hover{
	color: #B943BD;
	background-color: #B943BD;
}
.color1-1_gradient, 
.color1-1_gradient header{
	 background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, from(#B943BD), to(#DB8FDE));
}

.color1-2{
	color: #DB8FDE;
	background-color: #DB8FDE;
}

.color1-3{
	color: #DA73DE;
	background-color: #DA73DE;
}

.color2-1,
a.color2-1.active,
a.color2-1:focus,
a.color2-1:hover{
	color: #EA5283;
	background-color: #EA5283;
}

.color2-1_gradient, 
.color2-1_gradient header{
	 background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EA5283), to(#FFF));
}

.color2-2{
	color: #F49DB9;
	background-color: #FFECC2;
	/*background-image: -webkit-gradient(linear, 0% 70%, 0% 20%, from(#EA5283), to(#FFF));*/
	border: 1px solid #EA5283;
}
.color2-2 .sub h3{
	background-color: #EA5283;
}

.color2-3{
	color: #AF5A75;
	background-color: #AF5A75;
}
.color3-1,
a.color3-1.active,
a.color3-1:focus,
a.color3-1:hover{
	color: #83B341;
	background-color: #83B341;
}

.color3-1_gradient, 
.color3-1_gradient header{
	 background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, from(#83B341), to(#B9D98D));
}

.color3-2{
	color: #B9D98D;
	background-color: #B9D98D;
	background-image: -webkit-gradient(linear, 0% 0%, 130% 0%, from(#B9D98D), to(#83B341));
	border: 1px solid #83B341;
}
.color3-2 .sub h3{
	background-color: #83B341;
}

.color3-3{
	color: #56991B;
	background-color: #56991B;
}
.color4-1,
a.color4-1.active,
a.color4-1:focus,
a.color4-1:hover{
	color: #AD9FCD;
	background-color: #AD9FCD;
}

.color4-1_gradient, 
.color4-1_gradient header{
	 background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, from(#AD9FCD), to(#B9D98D));
}

.color4-2{
	color: #ACBB60;
	background-color: #ACBB60;
}

.color4-3{
	color: #8CA21C;
	background-color: #8CA21C;
}
.color5-1,
a.color5-1.active,
a.color5-1:focus,
a.color5-1:hover{
	color: #FF8659;
	background-color: #FF8659;
}

.color5-1_gradient, 
.color5-1_gradient header{
	 background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, from(#F15851), to(#FF8659));
}

.color5-2{
	color: #BF7B62;
	background-color: #BF7B62;
}

.color5-3{
	color: #A6421D;
	background-color: #A6421D;
}
.color6-1,
a.color6-1.active,
a.color6-1:focus,
a.color6-1:hover{
	color: #F15851;
	background-color: #F15851;
}

.color6-2{
	color: #B6F57E;
	background-color: #B6F57E;
}

.color6-3{
	color: #C7F59E;
	background-color: #C7F59E;
}
.color7-1,
a.color7-1.active,
a.color7-1:focus,
a.color7-1:hover{
	color: #45C58B;
	background-color: #45C58B;
}

.color7-2{
	color: #74E2B0;
	background-color: #74E2B0;
}

.color7-3{
	color: #91E2BD;
	background-color: #91E2BD;
}

.carousel .item1{

	background: url("../img/carousel1.jpg") no-repeat 0 0;
	height: 400px;
	width: 940px;
	margin: 0 auto;
}

.sociallogos{
	border-top: 1px dashed #BA9D82;
	border-bottom: 1px dashed #BA9D82;
}
.sociallogos li{
	padding-right: 50px;
	float: left;
	text-transform: uppercase;
}
.sociallogos li p{
	padding-top:3px;
}
.sociallogos a{
	background: url("../img/social-media-logos.png") no-repeat 0 0;
	width: 103px;
	height: 21px;
	display: block;
}
.sociallogos a[title="pinterest"]{
	background-position: 0 -26px;
	height: 26px;
}
.sociallogos a[title="instagram"]{
	background-position: 0 -86px;
	width: 90px;
	height: 24px;
}
.sociallogos a[title="youtube"]{
	background-position: 0 -53px;
	width: 72px;
	height: 29px;
}
.sociallogos a[title="twitter"]{
	background-position: 0 -113px;
	height: 20px;
}
.legal ul{
	width: auto;
	padding: 36px;
}
.legal ul li{
	padding-right: 50px;
}
.legal a{
	color: #ba9d82;
}

.policy-container h4{
	border-bottom: 1px dashed #BA9D82;
	padding: 5px 0 0;
	margin: 5px 0 5px;
}

/*utilities*/
.flush{
	margin:0 !important;
	padding:0 !important;
}
.shim{
	padding: 5px;	
}
.shim-t{
	padding-top: 5px;	
}
.shim-b{
	padding-bottom: 5px;	
}
.shim-tb{
	padding: 5px 0;
}
.shim-sides{
	padding-left: 5px;
	padding-right: 5px;
}
.mshimlt-tb{
	margin: 3px 0;
}
.frame{
	padding: 15px;	
}
.frame-t{
	padding-top: 15px;
}
.frame-tb{
	padding: 15px 0;
}
.frame-sides{
	padding-left: 15px;
	padding-right: 15px;
}
.border-tb{
	border-bottom: 1px dotted #ccc;
	border-top: 1px dotted #ccc;
}
.fixed{
	position: fixed;
}
.noround{
	border-radius: 0 !important;
}
.copy{
	line-height: 14px;
}

.round{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important; /* future proofing */
	-khtml-border-radius: 4px; 
}

/*
.round-b{
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
*/
.round-t{
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}
.round-left{
	-webkit-border-top-left-radius: 4px !important;
	-moz-border-top-left-radius: 4px !important;
	border-top-left-radius: 4px !important;
	-webkit-border-bottom-left-radius: 4px !important;
	-moz-border-bottom-left-radius: 4px !important;
	border-top-bottom-radius: 4px !important;
}
.round-right{
	-webkit-border-top-right-radius: 4px !important;
	-moz-border-top-right-radius: 4px !important;
	border-top-right-radius: 4px !important;
	-webkit-border-bottom-right-radius: 4px !important;
	-moz-border-bottom-right-radius: 4px !important;
	border-top-bottom-radius: 4px !important;
}
.division{
	margin: 10px 0;
	padding-bottom: 10px 0; 
	border-bottom: 1px solid #ab8aad;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
header .btn:focus {
  border-color: rgba(184, 67, 189, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(184, 67, 189, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(184, 67, 189, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(184, 67, 189, 0.6);
}

.btn-hoop {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ff00ff;
  background-image: -moz-linear-gradient(top, #ff73ff, #ff00ff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff73ff), to(#ff00ff));
  background-image: -webkit-linear-gradient(top, #ff73ff, #ff00ff);
  background-image: -o-linear-gradient(top, #ff73ff, #ff00ff);
  background-image: linear-gradient(to bottom, #ff73ff, #ff00ff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ff', endColorstr='#ff73ff', GradientType=0);
  border-color: #ff00ff #ff00ff #ff00ff;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ff00ff;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

/*BOOTSTRAP OVERRIDES*/
input{
	color: #000 !important;
}

header .btn-group .btn,
header .form-search .btn,
header .btn-group.open .btn.dropdown-toggle{
	background-color: #da8ddd;
	background-image: none;
}
header .header-btn-group > .btn-group .btn:hover,
header .header-btn-group > .btn-group .btn:focus,
header .header-btn-group > .btn-group .btn.hover,
header .form-search .btn:hover,
header .form-search .btn:focus,
header .form-search .btn.hover{
	background-color: #ca69ce;
	color: #38003A;
}

header .btn-group > .btn,
header .form-search .btn{
	font-size: 16px !important;
}

header .btn-group .btn
header .form-search .btn{
	padding: 6px 8px;
	margin-bottom: 0;
}
header .form-search input{
	height: 24px;
	width: 280px;
	font-size: 16px;
}
header .form-search{
	margin-top: 10px;
}

.header-btn-group > .btn-group .btn,
header .header-btn-group .btn:focus{
	background-color: transparent;
	background-image: none;
	border:0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 0 !important;
	-moz-border-bottom-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	-webkit-border-bottom-right-radius: 0 !important;
	-moz-border-bottom-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.help-nav a{
	font-size: 11px;
	color: #562700;
}

span.divider{
	background-color: #562700;
	width: 1px;
	height: 14px;
	margin: 0 6px 0 6px;
	display: inline-block;
	vertical-align: middle;
}

header .header-btn-group > .btn-group a,
header .form-search .btn{
	height: 34px;
}
header .header-btn-group span.divider{
	background-color: #562700;
	width: 1px;
	height: 38px;
	margin: 0 6px 0 6px;
	display: inline-block;
	vertical-align: middle;
}

header .header-btn-group a .caret{
	margin-left: 3px;
}
header .header-btn-group strong{
	font-size: 18px !important;
	text-align: left;;
}
header .header-btn-group small{
	display: block;
	line-height: 14px;
	text-align: left;;
}

.login-content .btn-gold{
	width: 150px;
}
.preferred-content{
	width: 232px;
}
.cart-content{
	width: 244px;
}
.btn-gold {
	color: #562700;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #FFC300;
	*background-color: #FFC300;
	background-image: -moz-linear-gradient(top, #FFDD6D, #FFC300);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFDD6D), to(#FFC300));
	background-image: -webkit-linear-gradient(top, #FFDD6D, #FFC300);
	background-image: -o-linear-gradient(top, #FFDD6D, #FFC300);
	background-image: linear-gradient(to bottom, #FFDD6D, #FFC300);
	background-repeat: repeat-x;
	border-color: #FFC300;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDD6D', endColorstr='#FFC300', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-gold:hover,
.btn-gold:active,
.btn-gold.active,
.btn-gold.disabled,
.btn-gold[disabled] {
	color: #FFFFFF;
	background-color: #FFC300;
	*background-color: #003bb3;
}
